<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        span {
            color: blueviolet;
            font-weight: 700;
        }
    </style>
</head>
<body>
    <h1><%=title %></h1>
    <div>
        <span><%=userInfo.name %></span>
        <span>님 환영합니다</span>
    </div>
    <div>
        성별은
        <span><%=userInfo.gender %></span>
        이군요! 
    </div>
    <div>
        생년월일은
        <span><%=userInfo.year%>년
            <%=userInfo.month%>월
            <%=userInfo.day%>일</span>
        이군요! 
    </div>
    <div>
        관심사는
        <span><%=userInfo.travel %>
        <%=userInfo.fashion %>
        <%=userInfo.food %></span>
        이군요! 
    </div>
    <div>
        좋아하는 색깔은
        <span><%=userInfo.color%></span>
        이군요! 
    </div>
    <div>
        좋아하는 숫자는
        <span><%=userInfo.number %></span>
        이군요! 
    </div>
    <a href="/">홈으로 이동</a>
</body>
</html>